body{
    background: url('1.jpg') fixed;
        background-size: cover;
}
.main-menu {
    background: white;
    padding: 0;
    width:70vw;
    margin: 0 auto;
        opacity: 1;
        
}
.main-menu li {
    background:white;
    padding: 15px;
    cursor: pointer;
        width: 100%;
    baight: auto;
}
.main-menu:hover{
    opacity: 1;
}

   
    
   
    
        
.main-section {
    background: white;
    padding: 15px;
    width:70vw;
    margin:30px auto;
}